
<%= form_for(@product, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @product.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h4>
      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
            <%= f.label :name, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
        </div>
  <div class="form-group">
            <%= f.label :pcolor, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
   <%= f.autocomplete_field :pcolor, autocomplete_pfeature_name_products_path , 'min-length' => 1 , 'data-auto-focus' => true %>

      </div>
        </div>
  <div class="form-group">
            <%= f.label :country_of_origin_id, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.collection_select :country_of_origin_id, CountryOfOrigin.all, :id, :name,  { prompt: true }, { :class => 'dgselect2' }  %>
        </div>
    </div>
  <div class="form-group">
            <%= f.label :pdate, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
        <%= f.datetime_select :pdate, class: "form-control" %>
      </div>
        </div>
  <div class="form-group">
            <%= f.label :active_status, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
        <%= f.number_field :active_status, class: "form-control" %>
      </div>
        </div>
  <div class="form-group">
            <%= f.label :sort_order, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
        <%= f.number_field :sort_order, class: "form-control" %>
      </div>
        </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
