<%#  Modified 2020-02-01 %>
<row class="row is-table-row" >

  <div class="col-sm-1 ">
    <%= link_to 'Create', new_product_feature_path , class: "btn btn-success"%>
  </div>

  <div class="col-sm-2 ">
    <h4>Listing Product Features</h4>
  </div>

  <div class="col-sm-3">
    <%= search_form_for @q, class: 'search-form' do |f| %>
      <div class="input-group">
        <%= f.search_field :name_cont, class: 'form-control' %>
        <span class="input-group-btn">
          <button class="btn btn-primary">Search <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4 ">
    <%= paginate @product_features %>
  </div>

  <div class="col-sm-2 ">
    <%= page_entries_info @product_features, :entry_name => 'item' %>
  </div>

</row>


<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="1"></th>
            <th>Name</th>
      <th>Product</th>
      <th>Pfeature</th>
      <th>Active status</th>
      <th>Sort order</th>
    </tr>
  </thead>

  <tbody>
    <% @product_features.each do |product_feature| %>
      <tr>
        <td>
          <div class="btn-group">
          <%= link_to 'Show', product_feature, class: "btn btn-info", :style=>'color:#FFFFFF;' %>
          <%= link_to 'Edit', edit_product_feature_path(product_feature), class: "btn btn-primary", :style=>'color:#FFFFFF;' %>
          <% #commentedout  = link_to 'Destroy', product_feature, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning", :style=>'color:#FFFFFF;' %>
          </div>
        </td>

        <td><%= product_feature.name %></td>
        <td><%= product_feature.product.try(:name) %></td>
        <td><%= product_feature.pfeature.try(:name) %></td>
        <td><%= product_feature.active_status %></td>
        <td><%= product_feature.sort_order %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Home', '/', class: "btn btn-default" %>
